
.container-fluid {
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  
  .nav-links p, .nav-links button {
    margin: 0;
    text-decoration: none;
  }
  

  .menu-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 991px) {
   
    .menu-toggle {
      display: block;
    }
  
  
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 0.5rem;
      position: absolute;
      top: 70px; 
      right: 20px;
      background-color: #f8f9fa;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .nav-links.open {
      display: flex;
    }
  }
  